@import url('https://fonts.googleapis.com/css2?family-Barlow-Condensed:wght@750&display-swap');
@import url('https://fonts.googleapis.com/css2?family-Barlow:ital@1&display-swap');

  *{
   padding:0;
   margin:0;
   box-sizing: border-box;
   font-family:"barlow",sans-serif;
}
body {
    font-family:"barlow",sans-serif;
    color:hsl(230, 11%, 40%);
    overflow-x:hidden;
    overflow-y: hidden;
}
body::before{
    content:"";
    background-color: hsl(207,33%,95%);
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    height: 60vh;
    border-bottom-left-radius: 5rem;
    z-index:-1;
}
.first{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap:20px;
    margin-left: 14rem;
}
header{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem; 
}
h1{
    color:hsl(230, 29%, 20%);
    font-weight: 700;
    font-size: 40px;
    text-transform:uppercase ;
    font-family:"barlow condensed" ;
    width: 70%;
    margin-bottom: 10px;
}
#switch{
    display:none ;
}
button{
    background-color: hsl(0,100%,68%);
    padding: 1em;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    font-size: 0.9em;
}
button:hover{
    opacity:0.5;
}
p{
    margin-bottom: 10px;
}
.icon{
    height:10px ;
    background-color: grey;
    width:10px;
    border-radius:50% ;
    margin-top: 5px;
}
.preview{
    text-transform: uppercase;
    font-size: 0.9rem;
}
.new{
    background-color: hsl(230, 29%, 20%);
    color: white;
    padding: 5px;
    border-radius:45% ;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}
.second{
    height: 70em;
    width:50%;
    margin: 0;
    background-image:url("../images/illustration-devices.svg") ;
    background-size: 50rem;
    background-repeat:no-repeat;
    object-fit: cover;
}
main{
    display: flex;
    margin-top:40px ;
    justify-content: center;
}
 nav ul{
    display: flex;
 } 
 li{
    padding: 0 20px 0 20px;
    list-style: none;
 }  
 a{
    color:black; 
    text-decoration: none;
    display: flex;
}
@media(max-width:768px){
    #switch{
    display: block;
    }
    nav{
        display: none;
        background-color:white ;
        position: absolute;
        width: 80vw;
        height: 50vh;
        top: 20%;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        width: 100%;
        height: 100%;
        row-gap: 20px;
    }
    .icon{
        border-radius: 0;
        width: 80%;
        height:5px;
    }
    body{
        overflow-x: auto;
        overflow-y: auto;
    }
    main{
        flex-direction: column-reverse;
        row-gap: 5rem;
        height: auto;
    }
    .first{
        width:100%;
        height: 100vh;
        margin:20px 0 0 30px;
    }
    .second{
        width:100% ;
        height: 40vh;
        
    }
    header{
        justify-content: space-between;
        padding: 0 2em 0 2em;
    }
    }